.row {
    padding-left: 10px;
}

.row_container {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_container::-webkit-scrollbar {
    display: none;
}

.row_card {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row_card:hover {
    transform: scale(1.08);
}

.row_largeCard {
    max-height: 250px;
}

.row_largeCard:hover {
    transform: scale(1.09);
}